html {
    padding: 20px;
    background: linear-gradient(to bottom right, #FFB68F, #FF9391, #FF8F9A) no-repeat;
}

h1 {
    font-family: 'Lobster Two', cursive;
    padding: 20px;
    font-size: 3em;
    display: inline-flex;
    flex-direction: row
}

h3 {
    display: inline;
    padding:  15px;
    flex-direction: row;
    
}

.bhind {
    position: absolute;
    z-index: -1;
}

.rounded {
    border-radius: 25px;
    
}

.padding {
    padding: 20px;

}

.triadic-purple {
    color: #9591ff;
    
}

.opacity {
    opacity: 0.5;
}

.clear-bg {
    background: transparent;
    font-size: 2.2em;
    border-radius: 25px;
    border-width:medium;
}